<h1>New</h1>

<div class="memo-edit">
<div class="main">
  <form action="/" method="post">
    <span>title:</span>
    <input type='text' name='title' class="memo-title">
    <span>content:</span>
    <textarea name='content' class="memo-content"></textarea>
    <div class="btns">
      <input type='submit' value='Save' class="btn-save">
    </div>
  </form>
</div>

<div class="footer">
  <a href="/"><div class="btn-top">Top</div></a>
</div>
</div>
