<h1>Top</h1>

<div class="main">
  <ul>
    <% @memo_titles.each do |id, title| %>
    <li><a href='show/<%= id %>'><%= title %></a></li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <a href="/new"><div class="btn-new">New</div></a>
</div>
